extends base

mixin navItem(link, text, icon, active)
    li(class= `${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('#', 'Settings', 'settings', true)
                    +navItem('/profile', 'Complete profile', 'briefcase')
                    +navItem('/request-meal', 'Request Food', 'star')
                    +navItem('/getting-symptoms', 'Report yourself', 'users')
                    +navItem('/donate', 'Donate', 'credit-card')

                - if(user.role === 'hospitals')
                    .admin-nav
                        h5.admin-nav__heading Hospital
                        ul.side-nav
                            +navItem('/request-ventilators', 'Request Ventilators', 'map', true)
                            +navItem('#', 'Suspected users', 'users')
                            +navItem('#', 'Reported users', 'star')

                - if(user.role === 'admin' || user.role === 'gov' || user.role==='ngo')
                    .admin-nav
                        h5.admin-nav__heading Requests
                        ul.side-nav
                            +navItem('#', 'Ventilator Request', 'map')
                            +navItem('#', 'Meal Request', 'briefcase')
                            +navItem('#', 'Infected users', 'users')
                            +navItem('#', 'Total donations', 'credit-card')
                            
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Your account settings

                    //- WITH API
                    form.form.form-user-data 
                        .form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', value=`${user.name}`, required, name='name')
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email address
                            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
                        .form__group.form__photo-upload
                            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo') 
                            input.form__upload(type='file', accept='image/*', id='photo', name='photo')
                            label(for='photo') Choose new photo

                        .form__group.right
                            button.btn.btn--small.btn--black Save settings

                .line &nbsp;

                .user-view__form-container
                    h2.heading-secondary.ma-bt-md Password change
                    form.form.form-user-password
                        .form__group
                            label.form__label(for='password-current') Current password
                            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') New password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--black.btn--save-password Save password
