extends base

mixin navItem(link, text, icon, active)
    li(class= `${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings', 'settings')
                    +navItem('#', 'Complete profile', 'briefcase', true)
                    +navItem('/request-meal', 'Request Food', 'star')
                    +navItem('/getting-symptoms', 'Report yourself', 'users')
                    +navItem('/donate', 'Donate', 'credit-card')

                - if(user.role === 'hospitals')
                    .admin-nav
                        h5.admin-nav__heading Hospital
                        ul.side-nav
                            +navItem('/request-ventilators', 'Request Ventilators', 'map', true)
                            +navItem('#', 'Suspected users', 'users')
                            +navItem('#', 'Reported users', 'star')

                - if(user.role === 'admin' || user.role === 'gov' || user.role==='ngo')
                    .admin-nav
                        h5.admin-nav__heading Requests
                        ul.side-nav
                            +navItem('#', 'Ventilator Request', 'map')
                            +navItem('#', 'Meal Request', 'briefcase')
                            +navItem('#', 'Infected users', 'users')
                            +navItem('#', 'Total donations', 'credit-card')
                            
            .user-view__content
                if (profiles.length === 0)
                    .user-view__form-container
                        h2.heading-secondary.ma-bt-md Create your profile

                        //- WITH API
                        form.form.form-create-profile-data 
                            .form__group
                                label.form__label(for='name') Name
                                input#name.form__input(type='text', value=`${user.name}`, required, name='name', disabled)
                            .form__group.ma-bt-md
                                label.form__label(for='email') Email address
                                input#email.form__input(type='email', value=`${user.email}`, required, name='email', disabled)
                            .form__group.ma-bt-md
                                label.form__label(for='mobile-number') Mobile Number
                                input#mobileNumber.form__input(type='tel', placeholder='Your mobile number', required, name='mobile-number', minlength='10')
                            .form__group.ma-bt-md
                                label.form__label(for='country') Country
                                input#country.form__input(type='text', placeholder='Your country', required, name='country')                      
                            .form__group.ma-bt-md
                                label.form__label(for='address') Address
                                input#address.form__input(type='text', placeholder='Your address', required, name='address')
                            .form__group.ma-bt-md
                                label.form__label(for='locality') Locality
                                input#locality.form__input(type='text', placeholder='Your locality', required, name='locality')
                            .form__group.ma-bt-md
                                label.form__label(for='city') City
                                input#city.form__input(type='text', placeholder='Your city', required, name='city')
                            .form__group.ma-bt-md
                                label.form__label(for='state') State
                                input#state.form__input(type='text', placeholder='Your state', required, name='state')
                            .form__group.ma-bt-md
                                label.form__label(for='zip-code') Zip code
                                input#zip-code.form__input(type='text', placeholder='Place zip code', required, name='zip-code')
                            
                            .form__group.right
                                button.btn.btn--small.btn--black Create profile
                if (profiles.length > 0)
                    .user-view__form-container
                        h2.heading-secondary.ma-bt-md Update your profile

                        //- WITH API
                        form.form.form-update-profile-data 
                            .form__group
                                label.form__label(for='name') Name
                                input#name.form__input(type='text', value=`${profiles[0].name}`, required, name='name')
                            .form__group.ma-bt-md
                                label.form__label(for='email') Email address
                                input#email.form__input(type='email', value=`${profiles[0].email}`, required, name='email')
                            .form__group.ma-bt-md
                                label.form__label(for='mobile-number') Mobile Number
                                input#mobileNumber.form__input(type='tel', value=`${profiles[0].contactNumber}`, required, name='mobile-number', minlength='10')
                            .form__group.ma-bt-md
                                label.form__label(for='country') Country
                                input#country.form__input(type='text', value=`${profiles[0].country}`, required, name='country')                      
                            .form__group.ma-bt-md
                                label.form__label(for='address') Address
                                input#address.form__input(type='text', value=`${profiles[0].address}`, required, name='address')
                            .form__group.ma-bt-md
                                label.form__label(for='locality') Locality
                                input#locality.form__input(type='text', value=`${profiles[0].locality}`, required, name='locality')
                            .form__group.ma-bt-md
                                label.form__label(for='city') City
                                input#city.form__input(type='text', value=`${profiles[0].city}`, required, name='city')
                            .form__group.ma-bt-md
                                label.form__label(for='state') State
                                input#state.form__input(type='text', value=`${profiles[0].state}`, required, name='state')
                            .form__group.ma-bt-md
                                label.form__label(for='zip-code') Zip code
                                input#zip-code.form__input(type='text', value=`${profiles[0].zipCode}`, required, name='zip-code')
                            
                            .form__group.right
                                button.btn.btn--small.btn--black#target-id(data-target-id = `${profiles[0]._id}`) Update profile