extends base

mixin navItem(link, text, icon, active)
    li(class= `${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings', 'settings')
                    +navItem('/profile', 'Complete profile', 'briefcase')
                    +navItem('/request-meal', 'Request Food', 'star')
                    +navItem('#', 'Report yourself', 'users', true)
                    +navItem('/donate', 'Donate', 'credit-card')

                - if(user.role === 'hospitals')
                    .admin-nav
                        h5.admin-nav__heading Hospital
                        ul.side-nav
                            +navItem('/request-ventilators', 'Request Ventilators', 'map', true)
                            +navItem('#', 'Suspected users', 'users')
                            +navItem('#', 'Reported users', 'star')

                - if(user.role === 'admin' || user.role === 'gov' || user.role==='ngo')
                    .admin-nav
                        h5.admin-nav__heading Requests
                        ul.side-nav
                            +navItem('#', 'Ventilator Request', 'map')
                            +navItem('#', 'Meal Request', 'briefcase')
                            +navItem('#', 'Infected users', 'users')
                            +navItem('#', 'Total donations', 'credit-card')
                            
            .user-view__content
                if(profiles.length > 0 && profiles[0].suspected === false)  
                    .user-view__form-container
                        h2.heading-secondary.ma-bt-md Getting COVID19 symptoms?

                        //- WITH API
                        form.form.form-suspect-data 
                            .form__group
                                label.form__label(for='suspect') COVID19 Suspected?
                                input#suspect.form__input(type='text', data-target-id=`${profiles[0].id}`, placeholder='YES', required, name='suspect', value='YES', disabled)

                            .form__group.right
                                button.btn.btn--small.btn--black Request COVID19 Check
                    .line &nbsp;
                if(profiles.length > 0 && profiles[0].suspected === true)
                    .user-view__form-container
                        .line &nbsp;   
                        .error__emoji Already notified the authority. Quarantine yourself till then.

                    .line &nbsp;
                if(profiles.length > 0 && profiles[0].reportMeToCoronaAuth === false)
                    .user-view__form-container
                        h2.heading-secondary.ma-bt-md Need immediate medical help?

                        //- WITH API
                        form.form.form-report-data 
                            .form__group
                                label.form__label(for='report') Is it emergency?
                                input#report.form__input(type='text', data-target-id=`${profiles[0].id}`, placeholder='YES', required, name='report', value='YES', disabled)

                            .form__group.right
                                button.btn.btn--small.btn--black Notify authority
                    .line &nbsp;
                
                if(profiles.length > 0 && profiles[0].reportMeToCoronaAuth === true)
                    .user-view__form-container
                        .line &nbsp;   
                        .error__emoji Already notified the authority.
                                
                if(profiles.length === 0)
                    .error
                        .error__title
                            h2.heading-secondary.heading-secondary--error No profile exists.   
                            h2.error__emoji 😢 
                        .error__msg Please create your complete profile.